table,th {
  border: 1px solid black;
}

table#t01 tr:nth-child(even) {
    background-color: #fff;
}
table#t01 tr:nth-child(odd) {
   background-color:#eee;
}

.male {
  color: green;
}

.female {
  color: purple;
}
